<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
</head>
<body>
    <header th:fragment="header">
        <div class="flex-header">
            <a href="/">
                <h1>Trustworthy Product Reviews</h1>
            </a>
            <div class="header-right">
                <div class="search-bar">
                    <input type="text"/>
                    <button>Search</button>
                </div>
                <div class="logged-out">
                    <button class="login-open">Login</button>
                </div>
                <div class="logged-in">
                    <p class="logged-in-username"></p>
                    <button class="logout-button">Logout</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>