<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
</head>
<body>
    <header th:fragment="header(searchParams, currentCategory, categories, currentUser)">
        <div class="flex-header">
            <div class = "header-left">
                <a href="/" class="brand-link">
                    <img src="/images/TPR-Logo.png" alt="Trustworthy Product Reviews Logo" class="logo-image"/>
                    <h1>Trustworthy Product Reviews</h1>
                </a>
            </div>
            <div class="header-right">
                <form action="/" method="GET" class="search-bar">
                    <!-- Category drop down -->
                    <label>
                        <select name="category_name" class="category-select">
                            <option value="" th:selected="${currentCategory == null or currentCategory == ''}">All Products</option>

                            <option th:each="cat : ${categories}"
                                    th:value="${cat.name}"
                                    th:text="${cat.name}"
                                    th:selected="${cat == currentCategory}">
                                Category Name
                            </option>
                        </select>
                    </label>

                    <!-- Search bar -->
                    <label>
                        <input type="text" name="product_search" placeholder="Product Name" th:value="${searchParams}"/>
                    </label>
                    <button type="submit">Find Products!</button>
                </form>
                <div class="logged-out">
                    <button class="login-open">Login</button>
                </div>
                <div class="logged-in">
                    <a th:if="${currentUser != null}" th:href="@{/profile/{userId}(userId=${currentUser.id})}">
                        <span class="logged-in-username"></span>
                    </a>
                    <span th:unless="${currentUser != null}" class="logged-in-username"></span>
                    <button class="logout-button">Logout</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>