<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN MODAL</title>
</head>
<body>
    <div th:fragment="login" class="login-modal">
        <div class="login-frame">
            <h2>Login</h2>
            <label>Username:
                <input type="text" id="login-user"/>
            </label>
            <div class="login-buttons">
                <button class="login-button">Login</button>
                <button class="login-close">Close</button>
            </div>
            <p>If you don't have an account yet create one <a href="/registerUser">here</a>.</p>
            <span class="error-text"></span>
        </div>
    </div>
</body>
</html>