<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN MODAL</title>
</head>
<body>
    <div th:fragment="login" class="login-modal">
        <div class="login-frame">
            <h2>Login</h2>
            <label>Username:
                <input type="text" class="login-user"/>
            </label>
            <div class="login-buttons">
                <button class="login-button">Login</button>
                <button class="login-close">Close</button>
            </div>
            <div class="error">
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>