<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>TrustworthyProductReviews - Home</title>
</head>
<body>
<article layout:fragment="content">
    <h3>Home</h3>
    <p>Hello World</p>
    <div th:if="${#lists.isEmpty(products)}">
        <p>No products available.</p>
    </div>
    <div th:each="product: ${products}">
        <a th:text="${product.getName()}" th:href="${'/product/' + product.getId().toString()}"></a>
    </div>
</article>
</body>
</html>