<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>TrustworthyProductReviews - User Registration</title>

    <script src="/js/registerUser.js"></script>
    <link rel="stylesheet" href="/css/registerUser.css" />
</head>
<body>
<article layout:fragment="content">

    <h2>Register a New User</h2>
    <form class="register-form" action="#">
        <label for="displayname">Display Name:</label>
        <input type="text" name="displayname" id="displayname"/>
        <p class="error-message" id="displayname-error">Name Error</p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"/>
        <p class="error-message" id="username-error">Name Error</p>
        <label for="email">Email:</label>
        <input type="text" name="username" id="email"/>
        <p class="error-message" id="email-error">Email Error</p>
        <div class="flex-columns-spacebetween">
            <button type="submit" value="Submit">Register</button>
            <button type="reset">Reset</button>
        </div>
        <div class="welcome-message" style="display: none">
            <p>Welcome, Name!</p>
            <p>Please log in using the button on the right of the header.</p>
        </div>
    </form>
</article>
</body>
</html>