body {
    min-height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    border: 1px
    solid #ffcccc;
    background-color: #ffeaea;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center
}