.register-user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.register-form label {
    display: block;
    margin-top: 1em;
}
.register-form .error-message {
    margin-top: 1em;
}

.register-form .flex-columns-spacebetween {
    margin-top: 1em;
}