<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>LAYOUT</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/loginModal.js"></script>

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/loginModal.css"/>
</head>
<body>
    <div class="page">
        <header th:replace="fragments/header :: header(searchParams=${searchParams}, currentCategory=${currentCategory}, categories=${categories}, errorMessage=${errorMessage})"></header>
        <div class="content">
            <article layout:fragment="content"></article>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    <div th:replace="fragments/loginModal :: login"></div>
</body>
</html>
