<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>LAYOUT</title>

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
    <div class="page">
        <header th:replace="fragments/header :: header"></header>
        <div class="content">
            <article layout:fragment="content"></article>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>
</html>